.footer {
  align-items: center;
  padding: $spacer 0;

  .line-separator {
    border-top: 1px solid rgba($white, 0.3);
  }
  .row {
    padding: ($space / 2) 0;
  }
  &__social {
    a {
      padding-right: $space;

      &:hover {
        text-decoration: none;
        color: darken($pink, 10%);
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  &__copyright {
    p {
      font-size: rem(16);
      margin-bottom: 0;
    }
    @include media-breakpoint-down(xs) {
      padding-bottom: $spacer;
    }
  }

}
