.section-testimonials {
  .carousel {
    position: relative;
    color: $white;
    position: relative;

    &__title {
      position: absolute;
      top: $space * 4;
      left: 0;
      width: 100%;
      z-index: 9;
    }
    &-item {
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding: ($spacer * 10) 0 ($spacer * 14);

      @include media-breakpoint-up(sm) {
        padding: ($spacer * 14) 0 ($spacer * 14);
      }

      &--1 {
        background-image: url("../img/testimonial/testimonial-1.jpg");
      }
      &--2 {
        background-image: url("../img/testimonial/testimonial-2.jpg");
      }
      &--3 {
        background-image: url("../img/testimonial/testimonial-3.jpg");
      }
      blockquote {
        border-left: none;
        margin: 0;

        p:before {
          content: $font-Flaticon-quotes;
          font-size: 20px;
          font-family: "Flaticon";
          float: left;
          margin-right: 5px;
        }
      }
    }
    &-control {
      background: none;
      color: #CACACA;
      font-size: 2.3em;
      text-shadow: none;
      margin-top: 30px;
    }
    &-indicators {
      position: absolute;
      bottom: ($spacer * 4);
      height: 100px;

      li {
        width: 50px;
        height: 50px;
        cursor: pointer;
        border: 1px solid #ccc;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        opacity: 0.4;
        overflow: hidden;
        transition: all 0.4s ease-in;
        vertical-align: middle;

        &.active {
          width: 100px;
          height: 100px;
          opacity: 1;
          transition: all 0.2s;
        }
      }
      .img-fluid {
        display: block;
      }
    }
    .fi {
      font-size: rem(40);

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }
}
