.section-contact {
  padding: ($spacer * 6) 0 ($spacer * 6);

  @include media-breakpoint-up(sm) {
    padding: ($spacer * 8) 0 ($spacer * 8);
  }
  .has-danger {
    .form-control {
      border-color: $form-feedback-invalid-color;
    }
    .help-block {
      color: $form-feedback-invalid-color;
    }
  }
  .has-danger {
    .form-control {
      border-color: $form-feedback-invalid-color;
    }
    .help-block {
      color: $form-feedback-invalid-color;
    }
  }
}
