.section-home {
  padding: ($spacer * 6) 0 ($spacer * 6);

  @include media-breakpoint-up(sm) {
    padding: ($spacer * 8) 0 ($spacer * 8);
  }
  h1 {
    padding-top: $spacer * 2;
  }
  @include media-breakpoint-down(sm) {
    text-align: center;
  }
}
