@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/Flaticon.woff") format("woff"), url("../fonts/Flaticon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
   @font-face{
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

.fi:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-chevron-left:before { content: "\f100"; }
.flaticon-chevron-right:before { content: "\f101"; }
.flaticon-quotes:before { content: "\f102"; }
.flaticon-menu:before { content: "\f103"; }
.flaticon-envelope-of-white-paper:before { content: "\f104"; }
.flaticon-facebook-logo:before { content: "\f105"; }
.flaticon-visual-design:before { content: "\f106"; }
.flaticon-cancel:before { content: "\f107"; }
.flaticon-photos:before { content: "\f108"; }
.flaticon-dj:before { content: "\f109"; }
.flaticon-cupcake:before { content: "\f10a"; }
.flaticon-party-in-house:before { content: "\f10b"; }
.flaticon-website:before { content: "\f10c"; }
.flaticon-instagram:before { content: "\f10d"; }
.flaticon-twitter-logo-silhouette:before { content: "\f10e"; }
.flaticon-invitation:before { content: "\f10f"; }
    
$font-Flaticon-left-direction-arrow: "\f100";
$font-Flaticon-right-thin-chevron: "\f101";
$font-Flaticon-quotes: "\f102";
$font-Flaticon-menu: "\f103";
$font-Flaticon-envelope-of-white-paper: "\f104";
$font-Flaticon-facebook-logo: "\f105";
$font-Flaticon-visual-design: "\f106";
$font-Flaticon-cancel: "\f107";
$font-Flaticon-photos: "\f108";
$font-Flaticon-dj: "\f109";
$font-Flaticon-cupcake: "\f10a";
$font-Flaticon-party-in-house: "\f10b";
$font-Flaticon-website: "\f10c";
$font-Flaticon-instagram: "\f10d";
$font-Flaticon-twitter-logo-silhouette: "\f10e";
$font-Flaticon-invitation: "\f10f";
